<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flask WebAuthn Demo</title>

<!--  Quick and dirty tailwind to save some time on css -->
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- Load HTMX for some nice reactivity without much js --->
  <script src="https://unpkg.com/htmx.org@1.7.0"></script>
  <!-- Simple WebAuthn so I don't have to deal with it directly -->
  <script src="https://unpkg.com/@simplewebauthn/browser/dist/bundle/index.umd.min.js"></script>
  <script>
    const { startRegistration, startAuthentication } = SimpleWebAuthnBrowser;
  </script>
</head>
<body>

<!-- navbar -->
<header class="w-full bg-gray-50 font-bold px-8 py-2 flex justify-between shadow items-center">
  <a href="{{ url_for('index') }}" class="font-bold text-2xl">WebAuthn Flask</a>
  <nav class="flex justify-end space-x-4 items-center">
    {% if current_user.is_authenticated %}
      <div>
        <a href="{{ url_for('auth.user_profile') }}" class="hover:underline font-bold text-xl">Profile</a>
      </div>
      <div>
        <a href="{{ url_for('auth.logout') }}" class="hover:underline font-bold text-xl">Logout</a>
      </div>
    {% else %}
    <div>
      <a href="{{ url_for('auth.login') }}" class="hover:underline font-bold text-xl">Login</a>
    </div>
    <div>
      <a href="{{ url_for('auth.register') }}" class="hover:underline font-bold text-xl">Register</a>
    </div>
    {% endif %}
  </nav>
</header>

<!-- main content -->
<main class="mt-8 max-w-4xl mx-auto px-2" id="page-content">
  {% block content %}
  {% endblock %}
</main>

</body>
{% block script %}
{% endblock script %}
</html>