{% extends "base.html" %}
{% block content %}
  <h1 class="mb-2 font-bold text-3xl">Flask WebAuthn Demonstration</h1>
   <p class="mb-2">
    This is a demo application for using WebAuthn Biometric authentication
     in a Python Flask App. You can try it out by clicking Register Above.</p>

  <h4 class="font-bold text-xl">Functionality</h4>
  <ul class="list-disc px-8">
    <li>Register New Users</li>
    <li>Login Users using their device's biometric authentication (Fingerprint sensor)</li>
    <li>Login Existing users using their email and setup new biometric auth</li>
  </ul>

  <p class="mt-2">
    Read more about how I build it on <a
    href="https://rickhenry.dev/blog/posts/2022-06-19-flask-webauthn-demo-1"
    class="font-bold text-indigo-500 hover:underline"
  >My Blog</a>.
  </p>
{% endblock content %}