<div>
  <p class="mb-2">
    You can set up this device to log in quickly with a biometric authentication
    (Fingerprint Reader or Facial Recognition), or using a hardware security key. Click
    Below to get started.
  </p>
  <button
    class="py-2 px-4 bg-green-600 font-bold uppercase shadow text-white rounded"
    id="start-registration"
  >Setup Device Authentication
  </button>
</div>
<script>
    const startRegistrationButton = document.getElementById('start-registration');

    startRegistrationButton.addEventListener('click', async () => {
      // Here we inject the options.
        const options = {{ public_credential_creation_options | safe }};

        let attResp;
        try {
            attResp = await startRegistration(options);
        } catch (error) {
            alert("Something went wrong");
            console.error(error);
        }

        // This route doesn't exist yet, we'll create it soon.
        const verificationResp = await fetch('{{ url_for("auth.add_credential") }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(attResp)
        });
        const verificationJSON = await verificationResp.json();

        if (verificationJSON && verificationJSON.verified) {
            window.location.replace(verificationJSON.next)
        } else {
            alert("Failure");
        }
    })

</script>