<form
  hx-post="{{ url_for('auth.prepare_login') }}"
  hx-swap="outerHTML"
  class="max-w-sm mx-auto space-y-2"
>
  <h1 class="text-xl font-bold mb-2">Login</h1>
  <p class="italic text-sm">Enter your username or email address.</p>
  <p class="italic text-sm">If you don't have a username, you can start by
    <a
      href="{{ url_for('auth.register') }}"
      class="font-bold text-indigo-500 hover:underline"
    >registering</a>.
  </p>
  {% if error %}
    <p class="text-red-700 font-bold">{{ error }}</p>
  {% endif %}
  <div class="flex-col flex">
    <label for="username" class="mb-1 font-bold">Username or Email</label>
    <input
      type="text"
      id="username_email"
      name="username_email"
      required
      class="border-b-2 p-1 border-black bg-indigo-50 focus:bg-indigo-100  focus:outline-none focus:shadow"
    >
  </div>
  <div>
    <button
      class="bg-indigo-300 font-bold py-2 px-4 uppercase border-b-2 border-indigo-700 hover:bg-indigo-700 hover:text-white hover:shadow"
      type="submit"
    >Start Login
    </button>
  </div>
</form>
